xml/gramatica.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE receta [
  <!ELEMENT receta (instruccion+)>

  <!ELEMENT instruccion (accion, objetivo?, ingredientes?, parametros?)>
  <!ATTLIST instruccion
    id ID #REQUIRED
    prioridad (alta|media|baja) "media"
  >

  <!ELEMENT accion (#PCDATA)>
  <!ELEMENT objetivo (#PCDATA)>

  <!ELEMENT ingredientes (ingrediente*)>
  <!ELEMENT ingrediente (#PCDATA)>
  <!ATTLIST ingrediente
    cantidad CDATA #REQUIRED
    unidad CDATA #IMPLIED
  >

  <!ELEMENT parametros (parametro*)>
  <!ELEMENT parametro (#PCDATA)>
  <!ATTLIST parametro
    nombre CDATA #REQUIRED
  >
]>