xml/xml-00.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT direccion (nombre-completo, correo, telefono, cumple)>
<!ELEMENT nombre-completo (nombre, apellidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT cumple (dia, mes, anio)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anio (#PCDATA)>


